@model DatabaseSetupProject.Models.PoliciesOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PoliciesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PoliciesId" class="control-label"></label>
                <select asp-for="PoliciesId" class="form-control" asp-items="ViewBag.PoliciesId"></select>
                <span asp-validation-for="PoliciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliciesStatusId" class="control-label"></label>
                <select asp-for="PoliciesStatusId" class="form-control" asp-items="ViewBag.PoliciesStatusId"></select>
                <span asp-validation-for="PoliciesStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliciesOrderDateTime" class="control-label"></label>
                <input asp-for="PoliciesOrderDateTime" class="form-control" />
                <span asp-validation-for="PoliciesOrderDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

