@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container align-content-center">
		<div class="row">
		<a class="btn btn-primary btn-lg" asp-area="" asp-controller="OrdersApprove" asp-action="Index">Заказы на рассмотрение</a>
	</div>
	<div class="row">
		<a class="btn btn-warning btn-lg" asp-area="" asp-controller="Manager" asp-action="SearchUser">Поиск заказов пользователя</a>
	</div>
	<div class="row">
		<a class="btn btn-info btn-lg" asp-area="" asp-controller="Manager" asp-action="ReportYear">Отчет за год</a>
	</div>
	<div class="row">
		<a class="btn btn-danger btn-lg" asp-area="" asp-controller="InsuranceCases" asp-action="Index">Страховые случаи</a>
	</div>
</div>