@model DatabaseSetupProject.Models.Policies

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Policies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PoliciesName" class="control-label"></label>
                <input asp-for="PoliciesName" class="form-control" />
                <span asp-validation-for="PoliciesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliciesDescription" class="control-label"></label>
                <input asp-for="PoliciesDescription" class="form-control" />
                <span asp-validation-for="PoliciesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliciesTypeId" class="control-label"></label>
                <select asp-for="PoliciesTypeId" class="form-control" asp-items="ViewBag.PoliciesTypeId"></select>
                <span asp-validation-for="PoliciesTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseCost" class="control-label"></label>
                <input asp-for="BaseCost" class="form-control" />
                <span asp-validation-for="BaseCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

