@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container align-content-center">
	<div class="row">
		<a class="btn btn-warning btn-lg" asp-area="" asp-controller="Employees" asp-action="Index">Работники</a>
	</div>
		<div class="row">
		<a class="btn btn-info btn-lg" asp-area="" asp-controller="Roles" asp-action="Index">Менеджер ролей</a>
	</div>
</div>